.cell {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    display: table-cell;
    vertical-align: middle;
}

.board {
    margin-top: 200px;
    text-align: center;
    margin-left: 38%;
    width: 33%;
}

#reset {
    text-align: center;
    width: 300px;
    height: 80px;
    margin-left: 44%;
    margin-top: 100px;
    font-size: 30px;
    border: none;
}

#reset:hover {
    background-color: #8eb9ff;
}